/* Responsve Styling */

@media only screen and (min-width: 0px) and (max-width: 519px) {
    .form_head {
        font-size: 17px;
        line-height: 22px;
    }
    .pop_form p {
        font-size: 11px;
    }
    .input_feild :is(input, textarea) {
        font-size: 12px;
    }
    .form_btn button {
        font-size: 13px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 992px) and (max-width: 1250px) {}